@media only screen and  (max-width: 374px){
   
   .cart_window{
       width:357px !important;
       right:-30px !important;
       padding: 8px;
   }
   .filters_btn{
       width:140px
   }
    
}
